# Node modules
node_modules/

# Environment variables
.env

# IDE directories
.vscode/
.idea/

# System files
.DS_Store

# Build directories
/dist/
/build/

# Logs
logs/
*.log

# Miscellaneous
*.cache
*.tmp
